<!DOCTYPE html>
<html>
  <head>
    <title>BLOG_API!</title>
    <meta name="description" content="My BLOG">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Blog list</h1>
      </header>
      <main role="main" aria-live="assertive">
        <section>
          <form id="js-blog-list-form">
            <label for="blog-list-entry">Add an item</label><br>
            <input type="text" name="blog-list-entry" id="js-new-title" placeholder="Title">
            <input type="text" name="blog-list-entry" id="js-new-author" placeholder="Author">
            <input type="text" name="blog-list-entry" id="js-new-publishDate" placeholder="Publish date">
            <textarea name="content" form="js-blog-list-form" id="js-new-textArea">Enter content here...</textarea>
            <br>
            <button type="submit" class="addButon">Add item</button>
          </form>

          <ul class="blog-list js-blog-list">
          </ul>
        </section>
      </main>
    </div>
    <script src="//code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="/client.js"></script>
  </body>
</html>
